$primaryRed: hsl(0, 100%, 74%);
$primaryGreen: hsl(154, 59%, 51%);

$secondaryBlue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$greyBlue: hsl(246, 25%, 77%);

$fontSize: 16px;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

section {
    width: 100%;
    height: 100vh;
    background: url('/images/bg-intro-desktop.png');
    background-color: $primaryRed;

    @media (max-width: 900px) {
        height: initial;
    }
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media (max-width: 900px) {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
}

.content_left {
    color: #fff;
    width: 50%;

    h1 {
        font-size: 5em;
        line-height: 1.1;
        margin-bottom: 30px;

        @media (max-width: 600px) {
            font-size: 3em;
            margin-top: 40px;
        }
    }

    p {
        font-size: $fontSize;
        width: 90%;

        @media (max-width: 600px) {
            width: 100%;
            font-size: 14px;
            margin-bottom: 50px;
        }
    }

    @media (max-width: 900px) {
        width: 100%;
    }
}

.content_right {
    width: 50%;

    &_cta {
        width: 100%;
        background-color: $secondaryBlue;
        text-align: center;
        color: #fff;
        padding: 3px 0;
        border-radius: 13px;
        margin-bottom: 25px;
        box-shadow: 0px 6px 0px 0px rgba(84,86,107,0.37);        
        
        p {
            font-size: 15px;
        }
    }

    &_form {
        // height: 400px;
        background-color: #fff;
        box-shadow: 0px 6px 0px 0px rgba(84,86,107,0.37);        
        border-radius: 13px;
        padding: 40px;

        form {
            width: 100%;

            input {
                width: 100%;
                box-sizing: border-box;
                height: 55px;
                border-radius: 5px;
                outline: none;
                border: 1px solid $greyBlue;
                margin-bottom: 25px;
                font-size: 14px;
                font-weight: 600;
                padding-left: 30px;
                color: $darkBlue;
            }

            input:active,
            input:focus {
                border: 1px solid $darkBlue;
            }

            input:hover {
                border: 1px solid $darkBlue;
            }

            button,
            button:active,
            button:focus {
                width: 100%;
                height: 55px;
                border-radius: 5px;
                background: $primaryGreen;
                color: #fff;
                font-weight: 700;
                letter-spacing: 1.3px;
                text-transform: uppercase;
                border: none;
                outline: none;
                cursor: pointer;
                margin-bottom: 8px;
                transition: all .2s;
                box-shadow: 0px 4px 0px 0px rgba(33,132,89,.8); 
            }

            button:hover {
                background: #8acfb2;
                    
            }

            p {
                text-align: center;
                color: $greyBlue;
                font-size: 12px;
            }

            .emptyField,
            .emptyField:active,
            .emptyField:focus {
                border: 2px solid $primaryRed;
                
            }

            .emptyFieldSpan,
            .emptyFieldSpan2 {
                color: $primaryRed;
                display: inline;
                float: right;
                margin-top: -20px;
                position: relative;
            }

            .emptyFieldSpan::before,
            .emptyFieldSpan2::before {
                content: "";
                position: absolute;
                right: 15px;
                top: -45px;
                bottom: 0;
                width: 25px;
                background: url(/images/icon-error.svg);
                background-repeat: no-repeat;
            }

            .hidden {
                display: none;
            }
        }

        &--terms {
            color: $primaryRed;
            text-decoration: none;
            font-weight: 700;
        }

        @media (max-width: 900px) {
            padding: 30px;
        }
        
    }

    @media (max-width: 900px) {
        width: 100%;
        margin-bottom: 100px;
    }

}